# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.venv/
venv/
env/
.env

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Notebooks
.ipynb_checkpoints/

# DVC (наполнится в фазе 2)
/data/
/models/
*.dvc.lock

# Локальные учебные материалы
*.pdf

# Claude Code локальные настройки
.claude/
